*{
	padding: 0px;
	margin: 0px;
}

.sale{
	position: relative;
	background-color: orange;
	color:white;
	transform: rotate(45deg);
	text-align: center;
	width: 80px;	
	right: -193px;
	top: -243px;
	text-transform: uppercase;
	float: right;
	z-index: 1px
}
.bg{
	overflow: hidden;
	padding: -5px;
	border: 1px solid #a2a1a1;

}
#tien{
	color: 	orange;
}	
#giohang{
	padding:0px;
	margin: 6px;
}
.btn-outline-secondary{
	padding:0px;
	margin: 5px;
}
